@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  background: #363636;
}

header .wrapper {
  display: flex;
}

.logo {
  padding: 35px 0 25px 0px;
  flex: 1.02;
}

.logo img {
  border-radius: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 5px solid lightyellow;
}

nav {
  padding: 40px 0px 28px 0px;
  flex: 1.1;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  padding: 0px 19px;
}

nav a {
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-size: 13.8px;
  font-weight: 400;
  text-transform: uppercase;
}

nav a:hover,
.active {
  color: #69ad31;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner {
  background: url('https://source.unsplash.com/random/1350x460');
  background-position: center;
  background-size: cover;
}

.banner .wrapper {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h2 {
  margin: 125px;
  letter-spacing: -1px;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  forms styling starts here
=================================*/

.signup-form,
.login-form {
  position: relative;
}

.signup-form h3,
.login-form h3 {
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto 60px;
}

.form-control input {
  width: 63.2%;
  display: flex;
  justify-content: center;
}

.form-group {
  padding: 20px;
}

.form-group input {
  padding: 10px 5%;
  width: 100%;
  height: 40px;
  padding: 0 18px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #dcdcdc;
}

.submit {
  margin-top: 15px;
  padding: 5px 26px;
  font-size: 15px;
  background: #69ad31;
  letter-spacing: 1.5px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  transition: all 0.3s;
}

.submit:hover {
  background: #78b546;
  color: #666;
}


.error-span,
.success-span {
  width: 17%;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  right: 15%;
  top: 120px;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 14px;
}

.error-span {
  color: white;
  background: indianred;
}

.success-span {
  color: white;
  background: #78b546;
}

.users {
  flex-wrap: wrap;
}

.box {
  transition: box-shadow .3s;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  display: flex;
  flex-direction: column;
  background: darkslategray;
  padding: 16px;
  margin: 15px;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.no-user {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 35px;
  background: #363636;
  color: white;
  padding: 20px;
  border-radius: 25px;
}

.not-a-player {
  position: absolute;
  bottom: -30px;
  display: flex;
  text-align: center;
  left: 46%;
}

/*=================================
  forms styling ends here
=================================*/

.quiz-page {
  width: 50%;
  border-radius: 2px;
  margin: 80px 25%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.quiz-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.quiz-user {
  padding: 15px 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: chocolate;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quiz-body {
  padding: 30px;
  background-color: #ecf0f1;
}

.quiz-form {
  width: 100%;
}

.option-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  list-style-type: none;
  margin: 30px 0;
}

.option-group .option {
  width: 50%;
  position: relative;
  padding: 15px 0% 15px 3%;
  border-radius: 100px;
  border: 2px solid transparent;
  margin: 0 20px 20px;
  display: block;
  outline: none;
  background-color: #fff;
  text-transform: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
}

#answer {
  position: absolute;
  left: -35px;
}

#questions {
  padding: 20px;
}

.error {
  top: 460px;
}

.option-group .option.active {
  border: 2px solid #142850;
  color: #142850;
}

.quiz-buttons {
  display: flex;
  justify-content: center;
  background: chocolate;
  padding: 10px;
  width: 107%;
}

.quiz-buttons .btn-sub:hover {
  cursor: pointer;
  background-color: #fff;
  color: #142850;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.quiz-buttons .btn-sub {
  padding: 10px;
  text-transform: uppercase;
  color: white;
  background: #142850;
}

.outcome {
  padding: 200px;
}

.result {
  font-size: 65px;
  color: brown;
  font-family: fantasy;
  text-align: center;
  padding: 10px;
  border: 10px solid;
}

.result-leaderboard {
  margin: 40px;
  text-align: center;
  padding: 10px;
  border: 4px solid;
  color: blueviolet;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}


.Ranking {
  overflow: auto;
  box-sizing: border-box;
  padding: 20px 0 112px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Ranking li {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 90%;
  background-color: #004445;
  cursor: pointer;
  /* opacity: 0; */
  border-radius: 25px;
  margin: 5px auto;
}

.slide-in {
  animation: slideLeft 0.6s ease-in-out forwards;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.Ranking li:hover:not(.top) {
  background-color: cornflowerblue;
}

.Ranking h4,
.Ranking span {
  padding-bottom: 0;
  color: #FFF;
  font-size: 24px;
}

.Ranking h4 {
  padding-right: 20%;
  font-size: 55px;
  color: chartreuse;
}

.Ranking figure {
  flex-basis: 7%;
  margin-right: 17%;
  padding: 10px;
}

.Ranking img {
  border-radius: 25px;
}

.Ranking .rating {
  opacity: 1;
  font-size: 45px;
  color: bisque;
}


.Ranking .rating::before {
  text-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
}

.Ranking li div {
  position: absolute;
  right: 5%;
}

li.rank-head {
  display: flex;
  padding: 20px;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-size: 36px;
  width: 85%;
  border-radius: unset;
}

li.top {
  background: #01171F;
}

.leaderboard-title {
  padding: 20px;
  text-align: center;
  font-size: 82px;
  color: blueviolet;
  text-transform: uppercase;
  margin: 50px 0 0;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer {
  padding-top: 34px;
  background: #363636;
  text-align: center;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
}

.social {
  margin-bottom: 38px;
}

.social a {
  padding: 8px;
  margin: 0 20px;
  font-size: 23px;
  border-radius: 100%;
  background: #464646;
  color: #69ad31;
  transition: all 0.3s;
}

.social a:first-of-type {
  padding: 14px;
  margin: 0 20px;
  box-sizing: border-box;
  clip-path: circle(40%);
}

footer p {
  padding-bottom: 38px;
  font-size: 15.5px;
  color: #666;
  line-height: 1.6;
}

footer a {
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.4);
}

footer a:hover {
  color: rgba(255, 255, 255, 0.9);
}

/*=================================
  footer styling ends here
=================================*/